tests/testthat/check-CenturyFootnote/rprt1/travis/grattanReport/compile
tests/testthat/check-CenturyFootnote/rprt1/travis/grattanReport/pre_release
tests/testthat/check-log/travis/grattanReport/compile
tests/testthat/check-log/travis/grattanReport/pre_release
tests/testthat/check-smallbox/travis/grattanReport/compile
tests/testthat/CompetitionReport/travis/grattanReport/compile
tests/testthat/CompetitionReport/travis/grattanReport/pre_release
tests/testthat/CompetitionReport/travis/grattanReport/release
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
grattanReporter.Rproj
*.aux
*.bbl
*.blg
*.bcf
*.fn100
*.lof
*.log
*.out
*.pdf
*.run.xml
*.toc
*.idx
*.tsv
.httr-oauth

tests/testthat/fnote-typogr/*
!tests/testthat/fnote-typogr/*.tex
